# URL тестового стенда. Будет использован как baseURL в Playwright.
BASE_URL=https://xn--80aaflb9bhhgedfdgh.xn--p1ai/#/

# --- Учетные данные для тестовых пользователей ---

# Пользователь 1
USER1_LOGIN=
USER1_PASSWORD=

# Пользователь 2
USER2_LOGIN=
USER2_PASSWORD=