# URL тестового стенда. Будет использован как baseURL в Playwright.
BASE_URL='https://pub-dev.transflow.ru/#/'

# --- Учетные данные для тестовых пользователей ---

# Пользователь 1
USER1_LOGIN=
USER1_PASSWORD=

# Пользователь 2
USER2_LOGIN=
USER2_PASSWORD=