# URL тестового стенда. Будет использован как baseURL в Playwright.
BASE_URL='https://pub-dev.transflow.ru/#/'

# --- Учетные данные для тестовых пользователей ---

# Пользователь 1
USER1_LOGIN=
USER1_PASSWORD=

# Пользователь 2
USER2_LOGIN=
USER2_PASSWORD=

# Testy
TESTY_API_URL=https://testy.altech.local/api/v1/
TESTY_USERNAME=
TESTY_PASSWORD=
TESTY_PROJECT_ID=2